@charset "utf-8";
/*SOO"MINI" 5 DOOR HATCH 메인페이지 CSS*/
@import url(grid_bg.css);
@import url(common.css);
@import url(grid_set.css);
@import url(base.css);
@import url(reset.css);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Do Hyeon', 'Nunito', sans-serif;
  /*  background-color: #000;*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.country a{
  color: #1d00ff;
  text-shadow: 1px 0 #ccc, -1px 0 #ccc, 0 1px #ccc, 0 -1px #ccc;
}


/*서브페이지 큰 박스*/


.sm {
  background-color: #02080f;
}

.sb1 {
  background-color: #738390;
}

.sb2 {
  background-color: #131b22;
}

.sb3 {
  background-color: #313c42;
}

/*서브페이지 360view*/

/*360view 소개텍스트*/
.extxt {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  z-index: 999;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.05);
  /*  background: url(../images/m1.jpg) no-repeat center/cover;*/
}

/*360view 박스만들기*/
.ex360box {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
  /*	max-width: 1400px;*/
  /*	height: 90%;*/
  /*	left: 0;*/
  background-color: #f7f7f7;
  cursor: pointer;
}

/*360view 사진들어가는 공간*/
.drspace::before {
  /*비율밀기*/
  content: "";
  display: block;
  cursor: pointer;
}

.exbox {
  /*이미지*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.drspace {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90%;
}

.drspace > span {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
}

/*서브페이지 FAST FACT*/
.f1txt {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  left: 37%;
  top: 65%;
}

.f1txt p:nth-child(1) {
  color: #060d58;
  text-shadow: 1px 0 #ccc, -1px 0 #ccc, 0 1px #ccc, 0 -1px #ccc;
}

.f2txt {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 3%;
  color: #555;
  font-weight: bold;
}
.f2txt p:nth-child(1) {
  font-size: 5rem;
  color: #15049f;
}
.f2txt p:nth-child(2) {
  font-size: 2rem;
  text-align: right;
  font-family: 'Nunito+Sans',sans-serif;
}
.f2txt p:nth-child(2) span{
  color: #15049f;
}


/*서브페이지 M.Y.S*/
.colorbox {
  width: 100%;
  max-width: 1400px;
  height: 10%;
  background-color: #000;
}

.colortxt {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  right: 3%;
  z-index: 3;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
}

.colorbar {
  position: absolute;
  width: 50%;
  /*자식요소 flex 시키기*/
  display: flex;
  /*각 요소의 사이값 일정*/
  justify-content: space-between;
  /*세로중앙정렬*/
  align-items: center;
  left: 0;
}

.cbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,.5);
}

.c1 {
  background-color: #2e1a18;
}

.c2 {
  background-color: #eeeeee;
}

.c3 {
  background-color: #38402f;
}

.c4 {
  background-color: #810612;
}

.c5 {
  background-color: #0c0a0c;
}

.c6 {
  background-color: #797a7d;
}

.c7 {
  background-color: #0c1024;
}

.self {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  background: url(../images/countryman/color/bg.jpg) no-repeat center/cover;
  overflow: hidden;
}

.ccar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  display: block;
  /*	width: 120%;*/
  height: 90%;
}
