@charset "utf-8";
/*인트로페이지 CSS*/
@import url(grid_bg.css);
@import url(common.css);
@import url(grid_set.css);
@import url(base.css);
@import url(reset.css);

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  background-color: #000;
  overflow: hidden;
}

#main {
  position: absolute;
  height: 100%;
  background-color: aqua;
  top: 3.5%;
  background-color: #000;
}

#main video {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#main span {
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.int{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

